<%- include("header") -%>
<h2>About</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum harum
  aspernatur obcaecati officiis dignissimos architecto consequatur omnis est
  tempora mollitia sint nobis repellendus animi itaque ea, optio magnam neque
  fugit accusamus expedita nemo. Animi cupiditate odit facilis nulla non
  assumenda in inventore totam, quibusdam numquam laborum, nemo ducimus. Maiores
  eius, laborum modi velit similique porro rem est illo explicabo. Earum commodi
  labore, illo ipsum officiis rerum nemo nam similique.
</p>
<%- include("footer") -%>
